.i-ankylosaurus {
  background-image: url("../images/ankylosaurus.svg");
}

.i-hadrosaur {
  background-image: url("../images/hadrosaur.svg");
}

.i-stegosaurus {
  background-image: url("../images/stegosaurus.svg");
}

.i-triceratops {
  background-image: url("../images/triceratops.svg");
}
